allure-python-commons==2.13.5
allure-robotframework==2.13.5
attrs==25.3.0
click==8.1.8
Faker==37.1.0
grpcio==1.70.0
grpcio-tools==1.70.0
natsort==8.4.0
overrides==7.7.0
pluggy==1.5.0
protobuf==5.29.3
robotframework==7.2.2
robotframework-assertion-engine==3.0.3
robotframework-browser==19.4.0
robotframework-faker==5.0.0
robotframework-pythonlibcore==4.4.1
seedir==0.5.0
tzdata==2025.2
wrapt==1.17.2
